body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: floralwhite;
}

header {
    background-color: #59b0ad;
    color: white;
    padding: 15px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

    nav ul li {
        display: inline;
    }

        nav ul li a {
            color: white;
            text-decoration: none;
            font-size: 18px;
        }

footer {
    margin-top: 20px;
    background-color: #333;
    color: white;
    padding: 10px;
    width: 100%;
}
