
@{
    ViewData["Title"] = "About Joel";
}

<section>
    <h2>Get to Know Joel</h2>
    <p>Joel Hilton performs at <a href="https://www.qwcomedy.com/" target="_blank">Quick Wits Comedy</a>.</p>
    <p>He is also a co-host of <a href="https://baconsale.com/" target="_blank">Baconsale</a>.</p>

    <p>Click the image below to visit Baconsale:</p>
    <a href="https://baconsale.com/" target="_blank">
        <img src="https://byu.box.com/shared/static/ie6ibeddqm0f6oudp7bc5dyt87zxi2u4.jpg" alt="Baconsale" width="300">
    </a>
</section>
